// calendar.view ├── header │ ├── button │ ├── stack.month │ ├── button │ ├── button │ ├── label.year │ ╰── button ╰── grid

//     ╰── label[.day-name][.week-number][.day-number][.other-month][.today]
@use "variables";

.local-time {
  padding-bottom: 1rem;
}

.time-section {
  border-top: 1px solid variables.$fg-disabled;
  padding: 0.5rem 0;
}

.colorful-calendar {
  font-size: larger;

  header {
    font-weight: 500;
    margin-bottom: 1rem;
  }

  button {
    padding-top: 1px;
    color: variables.$clock;
  }

  .month {
    font-weight: 600;
    color: variables.$clock;
    padding: 0 0.4rem;
  }

  .year {
    font-weight: 600;
    color: variables.$clock;
    padding: 0 0.4rem;
  }

  .day-name {
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .week-number {
    font-weight: 200;
    color: variables.$fg;
    font-style: italic;
  }

  .day-number {
    font-weight: 300;
  }

  .other-month {
    font-weight: 300;
    color: variables.$fg-subtext;
  }

  .today {
    font-weight: 600;
    color: variables.$shadow;
    background-color: variables.$primary;
    border-radius: 2rem;
  }
}
