@use "variables";

.launcher-container {
  margin: 6px;
  background-color: variables.$bg-transparent;
  padding: variables.$shape-corner-xlarge / 4;
  border-radius: variables.$shape-corner-xlarge;

  min-width: 45rem;
}

.launcher-input {
  padding: 0.75rem;
  font-size: larger;
}

.launcher-input placeholder,
.launcher-input-icon {
  color: variables.$fg-disabled;
}

.launcher-scroller {
  padding: 0.25rem 0;
  border-top: solid 1px variables.$primary;
  transition: 0.3ms;
}

.launcher-scroller * {
  transition: 0.3ms;
}

.launcher-item {
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: variables.$shape-corner-medium;
  transition: 0.3ms;
}

.launcher-item:hover {
  background-color: variables.$primary-hover;
}

.launcher-item:focus {
  background-color: variables.$primary-hover;
}

.launcher-item-label {
  margin-left: 0.5rem;
}

.launcher-item-label-title {
  font-weight: 600;
}

.launcher-item-label-description {
  color: variables.$fg-subtext;
  font-weight: 400;
}
