@use "variables";

.notifications-window {
  min-width: 32rem;
}

.notification-popup {
  margin: 6px;
  background-color: variables.$bg-transparent;
  border-radius: variables.$shape-corner-xlarge;
  padding: 0.75rem;
  box-shadow: inset 0 0 1px 1px variables.$primary;

  .notification-icon {
    margin-top: 0.25rem;
    margin-right: 0.5rem;
  }

  .notification-summary {
    font-weight: 500;
    font-size: larger;
  }

  .notification-body {
    margin-top: 2px;
  }

  .notification-screenshot {
    background-color: variables.$shadow;
    border-radius: variables.$shape-corner-large;
    margin-bottom: 2px;
  }

  .notification-action {
    background-color: variables.$bg-control;
    border-radius: variables.$shape-corner-large;
    padding: variables.$shape-corner-large;
    transition-duration: 150ms;
    margin-top: 5px;
  }

  .notification-action:hover {
    background-color: variables.$bg-control-hover;
  }

  .notification-close {
    color: variables.$error;
    margin-left: 0.25rem;
    image {
      color: variables.$error;
    }
  }
}
