@use "variables";

.popup {
  background-color: rgba(variables.$bg, 0.95);
  border-radius: variables.$shape-corner-xlarge;
  padding: variables.$shape-corner-xlarge;
  // border: 1px solid variables.$fg-disabled;
}

.dock {
  background-color: rgba(variables.$bg, 0.85);
  border-radius: variables.$shape-corner-xlarge variables.$shape-corner-xlarge 0
    0;
  padding: variables.$shape-corner-xlarge;
  // border: 1px solid variables.$fg-disabled;
}

.margin-auto {
}

.sheet {
  background-color: variables.$bg;
}

.control {
  background-color: variables.$bg-control;
  padding: 1rem;
  border-radius: variables.$shape-corner-large;
}

.elevation1 {
  box-shadow: 0 0 2px 0 variables.$shadow;
}

.elevation2 {
  box-shadow: 0 0 2px 1px variables.$shadow;
}

.elevation3 {
  box-shadow: 0 0 3px 2px variables.$shadow;
}

.corner-small {
  border-radius: variables.$shape-corner-small;
}

.corner-medium {
  border-radius: variables.$shape-corner-medium;
}

.corner-large {
  border-radius: variables.$shape-corner-large;
}

// Typography

.nerd-font-icon {
  font-family: "Ubuntu Nerd Font";
  font-size: 18px;
}

.emphasized {
  font-weight: bolder;
}

.display-large {
  font-size: 57px;
  font-weight: 400;
}
.display-medium {
  font-size: 45px;
  font-weight: 400;
}
.display-small {
  font-size: 36px;
  font-weight: 400;
}
.headline-large {
  font-size: 32px;
  font-weight: 400;
}
.headline-medium {
  font-size: 28px;
  font-weight: 400;
}
.headline-small {
  font-size: 24px;
  font-weight: 400;
}
.title-large {
  font-size: 22px;
  font-weight: 400;
}
.title-medium {
  font-size: 16px;
  font-weight: 500;
}
.title-small {
  font-size: 14px;
  font-weight: 500;
}
.body-large {
  font-size: 16px;
  font-weight: 400;
}
.body-medium {
  font-size: 14px;
  font-weight: 400;
}
.body-small {
  font-size: 12px;
  font-weight: 400;
}
.label-bar {
  font-size: 14px;
  font-weight: bolder;
}
.label-large {
  font-size: 14px;
  font-weight: 500;
}
.label-medium {
  font-size: 12px;
  font-weight: 500;
}
.label-small {
  font-size: 11px;
  font-weight: 500;
}
