@use "variables";
@use "base";
@use "sheets";

* {
  all: unset;
}

.bar-container {
  margin: 5px 2px;
  color: variables.$fg;
}
.bar-pill {
  background-color: variables.$bg;
  padding: 0.25rem 0.25rem;
  border-radius: 2rem;
  margin: 0px 3px;

  label {
    margin-top: 0.2rem;
  }

  .pill-button {
    border-radius: 1rem;
    padding: 0.25rem 0.25rem;
    transition: 0.3s;
    min-width: 1rem;
  }
  .pill-button label {
    margin-right: 0.35rem;
  }

  .pill-button.workspace {
    padding-left: 0.5rem;
  }

  .pill-button:hover {
    background-color: variables.$bg-control;
  }

  .pill-button:focus {}

  .pill-button.active {
    background-color: variables.$primary;
    color: variables.$bg;
  }
}

.workspace-button {
  border-radius: 1.2rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  min-width: 1rem;
  transition: 0.3s;
}

.workspace-button:hover {
  background-color: variables.$primary-hover;
}

.workspace-button.active {
  background-color: variables.$primary;
  color: variables.$bg;
}

.window-label {
  color: variables.$primary;
}

.clock-label {
  color: variables.$clock;
}

.layout-label {
  color: variables.$layout;
}

.audio-label {
  color: variables.$audio;
}

.brightness-label {
  color: variables.$brightness;
}

.power-label {
  color: variables.$power;
}

.power-critical-label {
  color: variables.$power-critical;
}

.power-warning-label {
  color: variables.$power-warning;
}

.power-normal-label {
  color: variables.$power-normal;
}

.network-label {
  color: variables.$network;
}

.bluetooth-label {
  color: variables.$bluetooth;
}

.launcher-container {
  background-color: rgba(variables.$bg, 0.95);
  padding: 3px;
  border-radius: 1rem;

  font-size: 18px;
  min-width: 700px;
}

.launcher-input {
  background-color: variables.$bg-input;
  border-radius: 1rem 1rem 0 0;
  border-bottom: solid 1px variables.$primary;
  padding: 0.75rem;
}

.launcher-input placeholder {
  color: variables.$fg-disabled;
}

.launcher-input image {
  opacity: 0.5;
}

.launcher-item {
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  font-size: 16px;
}

.launcher-item:hover {
  background-color: variables.$primary-hover;
}

.launcher-item:focus {
  background-color: variables.$primary-hover;
}

.launcher-item-label {
  margin-left: 0.5rem;
}

.launcher-item-label-title {
}

.launcher-item-label-description {
  color: variables.$fg-sub;
}

.launcher-footer {
  background-color: variables.$bg-input;
  border-radius: 0 0 1rem 1rem;
  border-top: solid 1px variables.$primary;
  padding: 0.5rem;
}

.launcher-footer button {
  transition: 0.3s;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.launcher-footer button:hover {
  background-color: variables.$primary-hover;
}

// Notifications
.notification-popup {
  border: 1px solid variables.$primary;
}

// OSD

.osd-container {
  margin: 5px;
  padding: 1.5rem;
  border: 1px solid variables.$primary;
  min-width: 128px;

  .osd-slider {
    margin-top: 1rem;

    trough slider {
      all: unset;
    }
  }

  image {
    margin-left: 0.5rem;
  }

  label {
    margin-top: 1rem;
  }
}

.control-button {
  background: variables.$bg-input;
  border: 1px solid variables.$bg-input;
  padding: 8px;
  color: variables.$primary;
  border-radius: 36px;
  min-width: 36px;
  min-height: 36px;
}

// Dock

.dock-trigger {
  background-color: variables.$bg-control;
  opacity: 0.001;
}

.dock {
  padding: 0 1.25rem;
}

.app-icon-button {
  padding-top: 0.35rem;
  padding-bottom: 0.6rem;
  border-bottom: 0.4rem solid transparent;
  transition: 0.2s;

  image {
    padding-top: 0.55rem;
  }

  .running-indicator {
    background-color: variables.$primary;
    min-width: 6px;
    min-height: 6px;
    border-radius: 3px;
  }
}

.app-icon-button:hover {
  border-bottom: 0.4rem solid rgba(variables.$primary, 1);
}

// Launcher

.launcher-grid {
  margin: 0 10px;
}

.tile {
  background-color: variables.$fg-disabled;
  margin: 16px;

  .tile-container {
    min-height: 160px;
    min-width: 160px;

    .tile-icon {
      margin-top: 48px;
    }

    .tile-title {
      margin-top: 29px;
      margin-left: 5px;
      font-size: 14px;
    }
  }
}

.tile:hover {
  box-shadow:
    0 0 20px 0 variables.$primary inset,
    0 0 0 4px variables.$primary inset;
}

.tile:focus {
  box-shadow: 0 0 0 4px variables.$primary inset;
}

// Setup Menu

.setup-menu {
  .setup-menu-title {
    margin-bottom: 2px;
  }

  .setup-menu-subtitle {
  }

  .setup-menu-item {
    margin-top: 12px;
  }
}
