@use "variables";
@use "base";
@use "sheets";
@use "bar";
@use "dock";
@use "launcher";
@use "info_center";
@use "notifications";
@use "osd";
@use "animations";

.control-button {
  background: variables.$bg-control;
  border: 1px solid variables.$bg-control;
  padding: 8px;
  color: variables.$primary;
  border-radius: 36px;
  min-width: 36px;
  min-height: 36px;
}

// Launcher

.launcher-grid {
  margin: 0 10px;
}

.tile {
  background-color: variables.$fg-disabled;
  margin: 16px;

  .tile-container {
    min-height: 160px;
    min-width: 160px;

    .tile-icon {
      margin-top: 48px;
    }

    .tile-title {
      margin-top: 29px;
      margin-left: 5px;
      font-size: 14px;
    }
  }
}

.tile:hover {
  box-shadow:
    0 0 20px 0 variables.$primary inset,
    0 0 0 4px variables.$primary inset;
}

.tile:focus {
  box-shadow: 0 0 0 4px variables.$primary inset;
}
