$bg: #181825;
$bg-input: #1e1e2e;
$bg-control: #313244;
$fg: #cdd6f4;
$fg-sub: #a6adc8;
$fg-disabled: #585b70;
$shadow: #11111b;

$primary: #cba6f7;
$primary-hover: rgba($primary, 0.3);

$clock: #74c7ec;
$layout: #89dceb;
$audio: #fab387;
$brightness: #f9e2af;
$power: #94e2d5;
$power-critical: #f38ba8;
$power-warning: #f38ba8;
$power-normal: #a6e3a1;
$network: #b4befe;
$bluetooth: #89b4fa;

@use "./sheets.scss";

* {
  all: unset;
}

.bar-container {
  margin: 5px 2px;
  color: $fg;
}

.bar-pill {
  background-color: $bg;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin: 0px 3px;
}

.workspace-button {
  border-radius: 1.2rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  min-width: 1rem;
  transition: 0.3s;
}

.workspace-button:hover {
  background-color: $primary-hover;
}

.workspace-button.active {
  background-color: $primary;
  color: $bg;
}

.window-label {
  color: $primary;
}

.clock-label {
  color: $clock;
}

.layout-label {
  color: $layout;
}

.audio-label {
  color: $audio;
}

.brightness-label {
  color: $brightness;
}

.power-label {
  color: $power;
}

.power-critical-label {
  color: $power-critical;
}

.power-warning-label {
  color: $power-warning;
}

.power-normal-label {
  color: $power-normal;
}

.network-label {
  color: $network;
}

.bluetooth-label {
  color: $bluetooth;
}

.launcher-container {
  background-color: rgba($bg, 0.95);
  padding: 3px;
  border-radius: 1rem;

  font-size: 18px;
  min-width: 700px;
}

.launcher-input {
  background-color: $bg-input;
  border-radius: 1rem 1rem 0 0;
  border-bottom: solid 1px $primary;
  padding: 0.75rem;
}

.launcher-input placeholder {
  color: $fg-disabled;
}

.launcher-input image {
  opacity: 0.5;
}

.launcher-item {
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  font-size: 16px;
}

.launcher-item:hover {
  background-color: $primary-hover;
}

.launcher-item:focus {
  background-color: $primary-hover;
}

.launcher-item-label {
  margin-left: 0.5rem;
}

.launcher-item-label-title {
}

.launcher-item-label-description {
  color: $fg-sub;
}

.launcher-footer {
  background-color: $bg-input;
  border-radius: 0 0 1rem 1rem;
  border-top: solid 1px $primary;
  padding: 0.5rem;
}

.launcher-footer button {
  transition: 0.3s;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.launcher-footer button:hover {
  background-color: $primary-hover;
}

// OSD

.osd-container {
  padding: 1.5rem;
  border: 1px solid $primary;
  min-width: 128px;

  .osd-slider {
    margin-top: 1rem;

    trough slider {
      all: unset;
    }
  }

  image {
    margin-left: 0.5rem;
  }

  label {
    margin-top: 1rem;
  }
}

.control-button {
  background: $bg-input;
  border: 1px solid $bg-input;
  padding: 8px;
  color: $primary;
  border-radius: 36px;
  min-width: 36px;
  min-height: 36px;
}

// Dock

.dock-trigger {
  background-color: $bg-control;
  opacity: 0.001;
}

.dock {
  padding: 0 2rem;
}

.app-icon-button {
  padding-top: 0.35rem;
  padding-bottom: 0.6rem;
  border-bottom: 0.4rem solid transparent;
  transition: 0.2s;

  image {
    padding-top: 0.55rem;
  }

  .running-indicator {
    background-color: $primary;
    min-width: 6px;
    min-height: 6px;
    border-radius: 3px;
  }
}

.app-icon-button:hover {
  border-bottom: 0.4rem solid rgba($primary, 1)
}

// Common

.slider-small trough {
    background-color: $fg-disabled;
    min-height: 8px;
    border-radius: 4px;
    margin: 4px 0;

    highlight {
      background-color: $primary;
    }

    slider {
      background-color: $bg;
      min-width: 16px;
      min-height: 16px;
      margin: -8px;
      border-radius: 16px;
      border: 2px solid $primary;
    }
  }

// Other

tooltip {
  background-color: $bg;
  padding: 0.55rem 1rem;
  border-radius: 1rem;
  font-weight: normal;
  font-size: 14px;
}

.menu-fix {
  margin-top: -5px;
}

popover.menu {
  contents {
    background-color: $bg;
    padding: 0.35rem;
    border-radius: 1rem;
    font-weight: normal;

    modelbutton {
      transition: 0.3s;
      border-radius: 0.5rem;
      padding: 0.35rem 1rem;
    }
    modelbutton:hover, modelbutton:focus {
      background-color: $bg-control;
    }
    separator {
      background-color: $fg-disabled;
      min-height: 1px;
      margin: 0.5rem 0;
    }

    label:disabled {
      color: $fg-disabled;
    }

    arrow {
      opacity: 0.5;

      &:hover {
        background: none;
      }

      &.left {
        -gtk-icon-source: -gtk-icontheme("go-previous-symbolic");
      }

      &.right {
        -gtk-icon-source: -gtk-icontheme("go-next-symbolic");
      }
    }
  }
}
