@use "variables";
@use "base";
@use "sheets";
@use "bar";

* {
  all: unset;
}

.launcher-container {
  background-color: rgba(variables.$bg, 0.95);
  padding: 3px;
  border-radius: 1rem;

  font-size: 18px;
  min-width: 700px;
}

.launcher-input {
  background-color: variables.$bg-input;
  border-radius: 1rem 1rem 0 0;
  border-bottom: solid 1px variables.$primary;
  padding: 0.75rem;
}

.launcher-input placeholder {
  color: variables.$fg-disabled;
}

.launcher-input image {
  opacity: 0.5;
}

.launcher-item {
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  font-size: 16px;
}

.launcher-item:hover {
  background-color: variables.$primary-hover;
}

.launcher-item:focus {
  background-color: variables.$primary-hover;
}

.launcher-item-label {
  margin-left: 0.5rem;
}

.launcher-item-label-title {
}

.launcher-item-label-description {
  color: variables.$fg-subtext;
}

.launcher-footer {
  background-color: variables.$bg-input;
  border-radius: 0 0 1rem 1rem;
  border-top: solid 1px variables.$primary;
  padding: 0.5rem;
}

.launcher-footer button {
  transition: 0.3s;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.launcher-footer button:hover {
  background-color: variables.$primary-hover;
}

// Notifications
.notification-popup {
  border: 1px solid variables.$primary;
}

// OSD

.osd-container {
  margin: 5px;
  padding: 1.5rem;
  border: 1px solid variables.$primary;
  min-width: 128px;

  .osd-slider {
    margin-top: 1rem;

    trough slider {
      all: unset;
    }
  }

  image {
    margin-left: 0.5rem;
  }

  label {
    margin-top: 1rem;
  }
}

.control-button {
  background: variables.$bg-input;
  border: 1px solid variables.$bg-input;
  padding: 8px;
  color: variables.$primary;
  border-radius: 36px;
  min-width: 36px;
  min-height: 36px;
}

// Dock

.dock-trigger {
  background-color: variables.$bg-control;
  opacity: 0.001;
}

.dock {
  padding: 0 1.25rem;
}

.app-icon-button {
  padding-top: 0.35rem;
  padding-bottom: 0.6rem;
  border-bottom: 0.4rem solid transparent;
  transition: 0.2s;

  image {
    padding-top: 0.55rem;
  }

  .running-indicator {
    background-color: variables.$primary;
    min-width: 6px;
    min-height: 6px;
    border-radius: 3px;
  }
}

.app-icon-button:hover {
  border-bottom: 0.4rem solid rgba(variables.$primary, 1);
}

// Launcher

.launcher-grid {
  margin: 0 10px;
}

.tile {
  background-color: variables.$fg-disabled;
  margin: 16px;

  .tile-container {
    min-height: 160px;
    min-width: 160px;

    .tile-icon {
      margin-top: 48px;
    }

    .tile-title {
      margin-top: 29px;
      margin-left: 5px;
      font-size: 14px;
    }
  }
}

.tile:hover {
  box-shadow:
    0 0 20px 0 variables.$primary inset,
    0 0 0 4px variables.$primary inset;
}

.tile:focus {
  box-shadow: 0 0 0 4px variables.$primary inset;
}
