$bg: #181825;
$bg-transparent: rgba($bg, 0.95);
$bg-input: #1e1e2e;
$bg-control: #313244;
$bg-control-hover: #45475a;
$fg: #cdd6f4;
$fg-subtext: #a6adc8;
$fg-disabled: #585b70;
$shadow: #11111b;

$primary: #cba6f7;
$primary-hover: rgba($primary, 0.3);
$error: #f38ba8;

$shape-corner-small: 4px;
$shape-corner-medium: 0.5rem;
$shape-corner-large: 0.75rem;
$shape-corner-xlarge: 1rem;

$clock: #74c7ec;
$layout: #89dceb;
$audio: #f2cdcd;
$brightness: #f9e2af;
$power: #94e2d5;
$power-critical: #f38ba8;
$power-warning: #fab387;
$power-normal: #a6e3a1;
$network: #b4befe;
$bluetooth: #89b4fa;
