$bg: #181825;
$bg-input: #1e1e2e;
$bg-control: #313244;
$fg: #cdd6f4;
$fg-sub: #a6adc8;
$fg-disabled: #585b70;
$shadow: #11111b;

$primary: #cba6f7;
$primary-hover: rgba($primary, 0.3);
$clock: #89b4fa;
$layout: #89dceb;

$shape-corner-small: 4px;
$shape-corner-medium: 6px;
$shape-corner-large: 8px;
$shape-corner-xlarge: 16px;

$clock: #74c7ec;
$layout: #89dceb;
$audio: #fab387;
$brightness: #f9e2af;
$power: #94e2d5;
$power-critical: #f38ba8;
$power-warning: #f38ba8;
$power-normal: #a6e3a1;
$network: #b4befe;
$bluetooth: #89b4fa;
