window-rule {
  // Rules for bluring GTK3 apps
  match app-id="thunar"
  match app-id="Thunar"
  match app-id="org.gnome.Rhythmbox3"
  match app-id="abaddon"
  match app-id="caffeine"
  match app-id="qalculate-gtk"
  match app-id="transmission-gtk"
  match app-id="nwg-look"
  match app-id="camset"
  match app-id="org.gnome.seahorse.Application"
  match app-id="solaar"
  match app-id="^libreoffice-.*"

  background-effect {
    blur true
  }

  popups {
    // Matches the border radius in cattpuccin
    geometry-corner-radius 12

    background-effect {
      blur true
    }
  }
}

window-rule {
  // Rules for bluring GTK4 apps (not the menus!)
  match app-id="baobab"
  match app-id="gnome-characters"
  match app-id="org.gnome.Fractal"
  match app-id="blanket"
  match app-id="baobab"
  match app-id="GTK Application"
  match app-id="protonvpn-app"
  match app-id=".espanso-wrapped"
  match app-id="com.saivert.pwvucontrol"
  match app-id="org.gnome.Evince"
  match app-id="org.gnome.Fileroller"
  match app-id="io.gitlab.liferooter.TextPieces"
  match app-id="textpieces"
  match app-id="io.github.radiolamp.mangojuice"
  match app-id="valent"
  match app-id=".piper-wrapped"

  background-effect {
    blur true
  }
}

window-rule {
  // Rules for bluring floating windows (enable xray)
  match is-floating=true

  background-effect {
    xray false
    blur true
  }
}

window-rule {
  // Rules for apps that need forced opacity
  match app-id="codium"
  match app-id="kiro"
  match title="^Element.*"
  // match app-id="org.telegram.desktop"
  match app-id="com.slack.Slack"
  opacity 0.920000
  background-effect { blur true; }
}

window-rule {
  // Rules for something
  match app-id="zen-beta"
  background-effect { blur true; }
}
