@use "variables";

.dock-trigger {
  background-color: variables.$bg-control;
  opacity: 0.001;
}

.dock {
  background-color: variables.$bg-transparent;
  border-radius: variables.$shape-corner-xlarge;
  border: 1px solid variables.$border;
  padding: variables.$shape-corner-xlarge;
  padding: 0 1.25rem;
}

.dock-button {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-bottom: 0.4rem solid transparent;
  transition: 300s;

  image {
    padding-top: 0.55rem;
    transition: 300ms;
  }

  .running-indicator {
    background-color: variables.$primary;
    min-width: 0.4rem;
    min-height: 0.4rem;
    border-radius: 0.4rem;
  }
}

.dock-button:hover {
  // border-bottom: 0.4rem solid rgba(variables.$primary, 0.8);
  image {
    transform: scale(1.2);
  }
}

.dock-button:active {
  image {
    transform: scale(0.9);
  }
}

.separator {
  border-left: 1px solid variables.$border;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
