@use "variables";

.launcher-container {
  background-color: variables.$bg-input;
  border-radius: variables.$shape-corner-xlarge * 2;

  min-width: 45rem;
}

.launcher-input {
  padding: 0.75rem;
  font-size: 1.4rem;
}

.launcher-input placeholder {
  color: variables.$fg-subtext;
}

.launcher-input-icon {
  color: variables.$primary;
  padding: 0.75rem;
}

.launcher-scroller {
  padding: 0.75rem 0.75rem;
  border-top: solid 2px variables.$border;
  transition: 0.3ms;
}

.launcher-scroller * {
  transition: 0.3ms;
}

.launcher-item {
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  border-radius: 2rem;
  background-color: transparent;

  // .launcher-item-icon {
  //   background-color: variables.$bg-control;
  //   padding: 6px;
  //   border-radius: 24px;
  // }

  .launcher-item-label {
    margin-left: 0.5rem;

    .launcher-item-label-title {
      font-weight: 600;
    }

    .launcher-item-label-description {
      color: variables.$fg-subtext;
      font-weight: 400;
    }
  }
}

.launcher-item:hover {
  background-color: variables.$bg-control;
  transition: 300ms;
}

.launcher-item:focus {
  background-color: variables.$primary;
  transition: 300ms;

  .launcher-item-label-title {
    color: variables.$shadow;
    transition: 300ms;
  }

  .launcher-item-label-description {
    color: variables.$bg;
    transition: 300ms;
  }
}
