@use "variables";

.popup {
  background-color: variables.$bg-transparent;
  border-radius: variables.$shape-corner-xlarge;
  padding: variables.$shape-corner-xlarge;
}

.flyout {
  border-radius: variables.$shape-corner-xlarge;
  padding: variables.$shape-corner-xlarge;
  background-color: variables.$bg;
}

.user-profile {
  .avatar {
    border-radius: 10rem;
    margin-right: 1.5rem;
  }

  .user-name {
    color: variables.$primary;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .user-address {
    margin-top: 0.1rem;
    color: variables.$secondary;
    font-weight: bold;
  }

  .user-uptime {
    margin-top: 0.4rem;
    color: variables.$fg-subtext;
  }
}

.button-fab-power-off {
  border-radius: 24px;
  background-color: #f38ba8;
  image {
    color: variables.$shadow;
  }
}
.button-fab-sleep {
  border-radius: 24px;
  background-color: #89b4fa;
  image {
    color: variables.$shadow;
  }
}
.button-fab-hibernate {
  border-radius: 24px;
  background-color: #f2cdcd;
  image {
    color: variables.$shadow;
  }
}
.button-fab-restart {
  border-radius: 24px;
  background-color: #a6e3a1;
  image {
    color: variables.$shadow;
  }
}
.button-fab-log-out {
  border-radius: 24px;
  background-color: #f9e2af;
  image {
    color: variables.$shadow;
  }
}

.input {
  background-color: lighten(variables.$bg-input, 2%);
  border-radius: variables.$shape-corner-large;
  padding: variables.$shape-corner-large;
}

.section {
  background-color: lighten(variables.$bg-input, 2%);
  border-radius: variables.$shape-corner-large;
  padding: variables.$shape-corner-large;
  padding: 24px;
}

.fade {
  background-color: rgba(variables.$shadow, 0.9);
}

.margin-auto {
}

.sheet {
  background-color: variables.$bg;
}

.control {
  background-color: variables.$bg-control;
  padding: 1rem;
  border-radius: variables.$shape-corner-large;
}

.elevation1 {
  box-shadow: rgba(variables.$shadow, 0.8) 0px 1px 3px 0px;
}

.elevation3 {
  margin: 0 6px 6px;
  box-shadow: rgba(variables.$shadow, 0.8) 0px 2px 6px 1px;
}

.elevation4 {
  margin: 0 6px 8px;
  box-shadow: rgba(variables.$shadow, 0.8) 0px 4px 6px 2px;
}

.window {
  border: solid 2px variables.$window_border;
}

.corner-small {
  border-radius: variables.$shape-corner-small;
}

.corner-medium {
  border-radius: variables.$shape-corner-medium;
}

.corner-large {
  border-radius: variables.$shape-corner-large;
}

// Typography

.nerd-font-icon {
  font-family: "Ubuntu Nerd Font";
  font-size: 18px;
}

.tabler-icon {
  font-family: "tabler-icons";
  font-size: 24px;
  line-height: 0.9rem;
}

.monospace {
  font-family: monospace;
}

.emphasized {
  font-weight: bolder;
}

.display-large {
  font-size: 57pt;
  font-weight: 400;
}
.display-medium {
  font-size: 45pt;
  font-weight: 400;
}
.display-small {
  font-size: 36pt;
  font-weight: 400;
}
.headline-large {
  font-size: 32pt;
  font-weight: 400;
}
.headline-medium {
  font-size: 28pt;
  font-weight: 400;
}
.headline-small {
  font-size: 24pt;
  font-weight: 400;
}
.title-large {
  font-size: 22pt;
  font-weight: 400;
}
.title-medium {
  font-size: 16pt;
  font-weight: 500;
}
.title-small {
  font-size: 14pt;
  font-weight: 500;
}
.body-large {
  font-size: 16pt;
  font-weight: 400;
}
.body-medium {
  font-size: 14pt;
  font-weight: 400;
}
.body-small {
  font-size: 12pt;
  font-weight: 400;
}
.label-bar {
  font-size: 12pt;
  font-weight: bolder;
}
.label-large {
  font-size: 14pt;
  font-weight: 500;
}
.label-medium {
  font-size: 12pt;
  font-weight: 500;
}
.label-small {
  font-size: 11pt;
  font-weight: 500;
}
